version: '3'
services:
    rabbit:
        hostname: my-rabbit
        image: rabbitmq:latest
        ports:
            - "15672:15672"
            - "5672:5672"
    web:
        restart: always
        build: .
        working_dir: /app
        volumes:
            - .:/app
        ports:
            - "8002:8002"
        links:
            - rabbit
        depends_on:
            - rabbit
        command: ["./wait-for-it.sh", "rabbit:5672", "--", "python", "app.py"]
    echo:
        build: .
        links:
            - rabbit
        depends_on:
            - rabbit
        command: ["./wait-for-it.sh", "rabbit:5672", "--", "python", "echo.py"]
