.ScrollContainer {
    flex: 1 1 50%;
    height: 600px;
    border: 1px solid #EEE;
    margin: 10px;
    font-size: 16px;
    position: relative;
}
.ScrollContainerData {
    overflow-y: scroll;
    padding: 0 20px;
    height: 100%;
}

.TimelineButton {
    padding: 20px;
    margin: 10px;
}
