.ScrollContainer {
    flex: 1 1 50%;
    height: 600px;
    background-color: white;
    border: 2px solid #E1E1E1;
    margin: 0 10px;
    font-size: 16px;
    position: relative;
}
.ScrollContainerData {
    overflow-y: scroll;
    padding: 0 20px;
    height: 100%;
}

.TimelineButton {
    padding: 10px;
    margin: 5px;
    background-color: transparent;
    border: none;
    font-size: 20px;
    outline: none;
    cursor: pointer;
}
.TimelineButton:hover {
    background-color: #E1E1E1;
}

.annotationsSidebar {
    flex: 0 0 300px;
    height: 600px;
    border: 2px solid #E1E1E1;
    background-color: white;
    border-right: none;
    margin-left: 5px;
}

.annoationsLayout {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.annotationsList {
    flex-grow: 1;
    padding: 10px;
    overflow-y: scroll;
}

.annotationsAdd {
    padding: 10px;
    border-top: 2px solid #E1E1E1;
    background-color: #BBDDEE;
}
.annotationsAdd textarea {
    width: 100%;
    height: 100px;
    font-family: 'Source Code Pro', monospace;
    font-size: 18px;
    padding: 10px;
}
.annotationsAdd button {
    width: 100%;
    height: 30px;
    margin-top: 10px;
    font-size: 18px;
}

.menuButton {
    background-color: #E1E1E1;
    color: #333;
    border: none;
    outline: none;
    cursor: pointer;
}
.toggleButton {
    background-color: #E1E1E1;
    color: #333;
    border: none;
    outline: none;
    cursor: pointer;
}
.toggleButton.disabledButton {
    background-color: white;
    color: #999;
}
