.Bold {
  color: red;
}

.Item {
    margin-bottom: 10px;
    display: flex;
    text-align: left;
}

.DateLabel {
    margin-right: 10px;
    flex: 0 0 50px;
}

.Value {
    text-align: left;
    display: block;
    font-family: monospace;
    white-space: pre-wrap;
}

.CodeMirrorContainer {
    overflow: hidden;
}
.CodeMirrorContainer .react-codemirror2 {
    border: 2px solid #CCC;
}
