.TimelineContainer {
    width: 1000px;
    margin: 0 10px;
    display: flex;
    height: 80px;
}

.TimeBlock {
    background-color: #CCC;
    border-right: 3px solid #555;
}
.TimeBlock:first-of-type {
    border-left: 3px solid #555;
}
.TimeBlock:hover {
    background-color: #CAC;
    cursor: pointer;
}
