.TimelineContainer {
    width: 1000px;
    margin: 0 10px;
    display: flex;
    height: 80px;
}

.TimeBlock {
    background-color: white;
    padding: 5px;
    border-right: 2px solid #E1E1E1;
    border-top: 2px solid #E1E1E1;
    border-bottom: 2px solid #E1E1E1;
}
.TimeBlock:first-of-type {
    border-left: 2px solid #E1E1E1;
}
.TimeBlock:hover {
    background-color: #BBDDEE;
    cursor: pointer;
}
